.txt {
    width: 70%;
    height: 30%;
    min-width: 100px;
}
#loaderBox{
width:100%;
height:100%;

}

#loader {
    /*Source center https://devcode.la/tutoriales/como-centrar-un-div-con-css/  */
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.unloaded {
    display: none;
}
