ul {
    height: 0;
    transition: height;
}

.showTable {
        height: 150px;
        overflow-y:scroll;
        

}
textarea {
     height: 250px;
}





#loader {
    /*Source center https://devcode.la/tutoriales/como-centrar-un-div-con-css/  */
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 35%;
    left: 35%;
    animation: spin 2s linear infinite;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

